#!/usr/bin/make -f

export DH_GOPKG := github.com/vpenso/prometheus-slurm-exporter
export GOPATH := /home/mrg/Fast/Build/prometheus-slurm-exporter/build/prometheus-slurm-exporter/.go
export PATH = /home/mrg/bin/go/bin:/usr/bin:/bin

%:
	dh $@

override_dh_auto_install:
	install -m755 bin/prometheus-slurm-exporter \
            debian/prometheus-slurm-exporter/usr/bin/prometheus-slurm-exporter

override_dh_auto_test:
